[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	uncommit = reset --soft HEAD^
[user]
	name = Ben Scott
	email = bscott@ipponusa.com
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[merge]
	tool = meldclear
[pager]
	branch = false
	
[pull]
	rebase = true
[rerere]
	enabled = 1
